## -*- coding: utf-8 -*-
<%inherit file="base.tmpl"/>
<%block name="content">
        <!--Body content-->
        <div class="hero-unit">
            <div class="container">
                <h1>&nbsp;</h1>
                <p class="lead">&nbsp;</p>
            </div>
        </div>
        <div class="container">
        <h1>${title}</h1>
        <ul class="unstyled">
        % for post in posts:
            <li><a href="${post.permalink()}">[${post.formatted_date(date_format)}] ${post.title()}</a></li>
        % endfor
        </ul>
        </div>
        <!--End of body content-->
</%block>
